<script src="materialize/js/materialize.min.js"></script>

<!-- Compiled and minified CSS -->
<link rel="stylesheet" href="materialize/css/materialize.min.css">


<div class="row" id="exchangesSettings" style="display: none">
    <div class="col s12 l4" style="margin-left: auto; margin-right: auto; float: none;">
        <div class="card-panel hoverable">

            <span class="card-title"><h4>Exchanges API keys</h4></span>

            <span>
                Each keys you enter in here will be :
                <ul>
                    <li style="display: flex;">
                        <div style="width: 10%; text-align: center">
                            <i class="material-icons">check_circle</i>
                        </div>
                        <div style="width: 90%;">
                            Checked if valid
                        </div>
                    </li>
                    <li style="display: flex;">
                        <div style="width: 10%; text-align: center">
                            <i class="material-icons">enhanced_encryption</i>
                        </div>
                        <div style="width: 90%;">
                            Encrypted using Advanced Encryption Standard
                        </div>
                    </li>
                    <li style="display: flex;">
                        <div style="width: 10%; text-align: center">
                            <i class="material-icons">storage</i>
                        </div>
                        <div style="width: 90%;">
                            Stored in database (after encryption)
                        </div>
                    </li>
                </ul>
            </span>

            <ul class="collapsible" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header">GDAX</div>
                    <div class="collapsible-body center-align">
                            <span>
                                <div class="switch">
                                    <label>
                                        Off
                                        <input type="checkbox" id="gdaxEnabled">
                                        <span class="lever"></span>
                                        On
                                    </label>
                                </div>

                                <div class="input-field inline" style="display: block">
                                    <input name="gdaxApiKey" id="gdaxApiKey" type="text" class="validate">
                                    <label id="labelGdaxApiKey" for="gdaxApiKey">API Key</label>
                                </div>

                                <div class="input-field inline" style="display: block">
                                    <input name="gdaxPassPhrase" id="gdaxPassPhrase" type="text" class="validate">
                                    <label id="labelGdaxPassphrase" for="gdaxPassPhrase">Pass Phrase</label>
                                </div>

                                <div class="input-field inline" style="display: block">
                                    <input name="gdaxSecret" id="gdaxSecret" type="text" class="validate">
                                    <label id="labelGdaxSecret" for="gdaxSecret">Secret b64-encoded</label>
                                </div>

                                <a class="waves-effect waves-light btn blue darken-4" id="saveGdax" onclick="saveGdaxExchange()">Save</a>

                            </span>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">Bittrex</div>
                    <div class="collapsible-body  center-align">
                            <span>
                                <div class="switch">
                                    <label>
                                        Off
                                        <input type="checkbox" id="bittrexEnabled">
                                        <span class="lever"></span>
                                        On
                                    </label>
                                </div>

                                <div class="input-field inline" style="display: block">
                                    <input name="bittrexApiKey" id="bittrexApiKey" type="text" class="validate">
                                    <label id="labelBittrexApiKey" for="bittrexApiKey">API Key</label>
                                </div>

                                <div class="input-field inline" style="display: block">
                                    <input name="bittrexSecret" id="bittrexSecret" type="text" class="validate">
                                    <label id="labelBittrexSecret" for="bittrexSecret">Secret</label>
                                </div>

                                <a class="waves-effect waves-light btn blue darken-4" id="saveBittrex" onclick="saveBittrexExchange()">Save</a>

                            </span>
                    </div>
                </li>
                <li>
                    <div class="collapsible-header">Binance</div>
                    <div class="collapsible-body  center-align">
                            <span>
                                <div class="switch">
                                    <label>
                                        Off
                                        <input type="checkbox" id="binanceEnabled">
                                        <span class="lever"></span>
                                        On
                                    </label>
                                </div>

                                <div class="input-field inline" style="display: block">
                                    <input name="binanceApiKey" id="binanceApiKey" type="text" class="validate">
                                    <label id="labelBinanceApiKey" for="binanceApiKey">API Key</label>
                                </div>

                                <div class="input-field inline" style="display: block">
                                    <input name="binanceSecret" id="binanceSecret" type="text" class="validate">
                                    <label id="labelBinanceSecret" for="binanceSecret">Secret</label>
                                </div>

                                <a class="waves-effect waves-light btn blue darken-4" id="saveBinance" onclick="saveBinanceExchange()">Save</a>

                            </span>
                    </div>
                </li>
            </ul>

        </div>
    </div>
</div>
