.collection a.collection-item {
    color: rgba(0,0,0,0.87);
}

.switch label input[type=checkbox]:checked+.lever {
    background-color: #1e88e5;
}

.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #0d47a1;
}

.tabs .tab a {
    color: #1e88e5;
    /*background-color: #0d47a1;*/
}

.tabs .tab a.active {
    color: #0d47a1;
}

.tabs .tab a:hover {
    color: #0d47a1;
}

.tabs .indicator {
    background-color: #1e88e5;
}

.progress {
    background-color: #98bfe2;
}

.progress .indeterminate{
    background-color: #0d47a1;
}

.authenticate-button {
    width: 150px;
    margin: 5px;
}

.thumb-next-features {
    color: lightgray;
}

#calculateLoader {
    /*margin-bottom: ‒15px;*/
    margin-top: 7px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: -10px;
    display: none;
    /*margin-top: 0px;*/
}

#exchangesHistoricGraphLoader, #totalHistoricGraphLoader {
    margin-top: 7px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: -8px;
    display: none;
}

#applicationLoader {
    margin-top: 0;
    display: none;
}

#googleAuthBtn{
    background-color: #ea4335;
}

#facebookAuthBtn{
    background-color: #3b5998;
}

#githubAuthBtn{
    background-color: #333333;
}

#twitterAuthBtn{
    background-color: #1da1f3;
}

#googleAuthBtnText{
    margin: 0 auto;
}

#facebookAuthBtnText{
    margin: 0 auto;
}

#githubeAuthBtnText{
    margin: 0 auto;
}

#twitterAuthBtnText{
    margin: 0 auto;
}

#brand-logo{
    cursor: pointer;
}

/*#menu-icon:active,*/
/*#menu-icon:focus,*/
/*#menu-icon.active,*/
/*#menu-icon:focus:active {*/
    /*background-image: none;*/
    /*outline: 0;*/
    /*-webkit-box-shadow: none;*/
    /*box-shadow: none;*/
/*}*/

/*#userCard{*/
    /*padding-top: 15%;*/
/*}*/

.separator {
    height: 1px;
    background-color: rgb(224, 224, 224);;
}

@media (min-width: 635px) {
    .next-features-cards {
        width:60%;
    }

    /*#donateModal{*/
        /*width: 60%;*/
    /*}*/
}

@media (max-width: 635px) {
    .next-features-cards {
        width:95%;
    }

    /*#donateModal{*/
        /*width: 90%;*/
    /*}*/
}

@media (min-width: 600px) {
    .explanation-icon {
        width: 100%;
    }

    .authentication-card {
        width: 30%;
    }

    #userAlreadyExistsModal {
        width: 20%;
    }

    #donateModal{
        max-height: 90%;
        width: 40%;
    }
}

/* Part for buttons of next features cards */
@media (max-width: 890px) {
    .header-features-cards {
        width: 90%;
    }
}

@media (min-width: 890px) and (max-width: 1400px){
    .header-features-cards {
        width: 94%;
    }
}

@media (min-width: 1400px) {
    .header-features-cards {
        width: 97%;
    }
}
/**/

@media (max-width: 992px) {
    #brand-logo {
        left: 10%;
        margin-left: 20%;
    }

    /*.explanation-icon {*/
        /*width: 100%;*/
    /*}*/

    .authentication-card {
        width: 90%;
    }

    #userAlreadyExistsModal {
        width: 80%;
    }

    #donateModal{
        max-height: 90%;
        width: 90%;
    }

    #ordersModal {
        width: 100%;
        max-height: 90%;
    }
}

@media (max-width: 405px) {
    .next-features-cards{
        padding-left: 5px;
        padding-right: 5px;
        width: 98%;
    }

    ul.features-list>li {
        padding-left: 5px !important;
        padding-right: 5px !important;
    }
}

/* test */
.card.small {
    height: auto;
}
.card.small .card-content {
    height: auto;
}
.card.small .card-action {
    position: relative;
}

/* try to center last tuto slide */
.slick-initialized .slick-slide {
    float: none;
    display: inline-block;
    vertical-align: middle;
}

#ordersModal {
    max-height: 90%
}

/* Trying to put home cards in line on desktop mode - and rearrange them (in particular order) on mobile screens */
.home-conainter {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
}

.home-holdings {
    flex: 1;
}

.home-details {
    flex: 1;
}

.home-currencies-repartition-chart {
    flex: 1;
}

.home-exchanges-repartition-chart {
    flex: 1;
}

@media only screen and (max-width: 500px) {
    .home-holdings {
        flex-basis: 100%;
        order: 1;
    }
    .home-details {
        flex-basis: 100%;
        order: 2;
    }
    .home-currencies-repartition-chart {
        flex-basis: 100%;
        order: 3;
    }

    .home-exchanges-repartition-chart {
        flex-basis: 100%;
        order: 4;
    }
}

@media (min-width: 501px) and (max-width: 679px) {
    .home-holdings {
        flex-basis: 100%;
        order: 1;
    }
    .home-details {
        flex-basis: 100%;
        order: 2;
    }
    .home-currencies-repartition-chart {
        flex-basis: 50%;
        order: 3;
    }

    .home-exchanges-repartition-chart {
        flex-basis: 50%;
        order: 4;
    }
}

@media (min-width: 680px) and (max-width: 1400px) {
    .home-holdings {
        flex-basis: 50%;
        order: 1;
    }
    .home-details {
        flex-basis: 50%;
        order: 2;
    }
    .home-currencies-repartition-chart {
        flex-basis: 50%;
        order: 3;
    }

    .home-exchanges-repartition-chart {
        flex-basis: 50%;
        order: 4;
    }
}

/* Just to avoid moving divs when scrolling bar appears */
html {
    overflow-y: scroll;
}

