<div class="col s6 l2" style="text-align: center;">
    <div class="card-panel authentication-card" align="center" style="display: inline-block; padding-right: 12px; padding-left: 12px">

        <div id="tuto" style="display: none">

            <div class="valign-wrapper" style="width: 15%">
            <a onclick="$('.your-class').slick('slickPrev');" class="btn-floating waves-effect darken-text-2" style="background-color: #0d47a1" id="prevTutoBtn"><i class="material-icons left">chevron_left</i></a>
            </div>

            <div id="slick" class="your-class" style="width: 70%">
                <div>
                    <h4 style="margin-top: 0">Since 2017</h4>
                    <div>
                        <!--<img src="../../assets/happy_tuto-min.png" class="responsive-img" style="width: 100%; display: none;">-->
                        <img src="../../assets/happy_tuto-min.png" class="responsive-img" style="width: 100%;">
                    </div>
                    <p style="margin: 0;">
                        Trading cryptocurrencies has been democratized
                    </p>
                </div>


                <div>
                    <div>
                        <!--<img src="../../assets/happy_tuto-min.png" class="responsive-img" style="width: 100%; display: none;">-->
                        <img src="../../assets/unhappy_tuto-min.png" class="responsive-img" style="width: 100%">
                    </div>

                    <p>
                        While having money on several exchanges is a good practice, keeping an eye on your cubs can become really time consuming
                    </p>
                </div>


                <div>
                    <h4 style="margin: 0">Cryptopus</h4>

                    <div>
                        <!--<img src="../../assets/happy_tuto-min.png" class="responsive-img" style="width: 100%; display: none;">-->
                        <img src="../../assets/end-min.png" class="responsive-img" style="width: 100%">
                    </div>

                    <p>
                        Will help you monitor your entire portfolio by
                        <br>
                        <b>Updating</b> holdings from <b>exchanges</b> and providing portfolio <b>historics</b> and <b>overview</b>
                    </p>
                </div>

                <div>
                    <div>
                        <img src="../../assets/api_key_everywhere-min.png" class="responsive-img" style="width: 100%">
                    </div>

                    <p>
                        Overview available <b>everywhere</b>
                    </p>
                    <p>
                        Your API keys will be <b>encrypted</b> using the last encryption technologies
                    </p>
                    <p>
                        Because security really matters for us, we <b>only</b> support exchanges which allow you to generate <b>read only API keys</b>
                    </p>
                </div>


                <div>
                    <div>
                        <p>And the best is... It's totally Free !</p>

                        <img src="../../assets/happy_tuto-min.png" class="responsive-img" style="width: 100%; display: none;">

                        <a onclick="showSignInDivs()" id="cryptopus" class="btn btn-floating btn-large pulse" style="background-color: #0d47a1; width: 90px; height: 90px; margin-top: 5vh; margin-bottom: 5vh">
                            <img src="../../assets/cryptopus_white.png" class="responsive-img" style="width: 80%;margin-top: 10%; margin-left: 9px;">
                        </a>

                        <h4>Let's try it out !</h4>
                    </div>

                </div>

            </div>

            <div class="valign-wrapper" style="width: 15%">
                <div style="width: 100%" class="right-align">
                    <a onclick="$('.your-class').slick('slickNext');" class="btn-floating waves-effect darken-text-2" style="background-color: #0d47a1" id="nextTutoBtn"><i class="material-icons right">chevron_right</i></a>
                </div>
            </div>



            <!--<div id="dots"></div>-->


            <!--<div class="carousel-wrapper" style="position:relative;">-->

                <!--<div class="carousel carousel-slider center">-->

                    <!--<div class="carousel-item" href="#one!" id="firstTutoPage">-->
                        <!--<h2 style="margin-top: 0">Since 2017</h2>-->
                        <!--<div>-->
                            <!--<img src="../../assets/happy_tuto-min.png" class="responsive-img" style="width: 100%; display: none;">-->
                            <!--<img src="../../assets/happy_tuto-min.png" class="responsive-img" style="width: 60%;">-->
                        <!--</div>-->
                        <!--<p style="margin: 0; font-size: 0.9em">-->
                            <!--Trading cryptocurrencies has been democratized-->
                        <!--</p>-->
                    <!--</div>-->
                    <!--<div class="carousel-item" href="#two!">-->
                        <!--<div>-->
                            <!--<p style="font-size: 0.9em">-->
                                <!--While having money on several exchanges is a good practice, keeping an eye on your cubs can become really time consuming-->
                            <!--</p>-->
                            <!--<div>-->
                                <!--<img src="../../assets/happy_tuto-min.png" class="responsive-img" style="width: 100%; display: none;">-->
                                <!--<img src="../../assets/unhappy_tuto-min.png" class="responsive-img" style="width: 60%">-->
                            <!--</div>-->
                        <!--</div>-->

                    <!--</div>-->

                    <!--<div class="carousel-item" href="#three!">-->
                        <!--<h2 style="margin: 0">Cryptopus</h2>-->

                        <!--<div>-->
                            <!--<img src="../../assets/happy_tuto-min.png" class="responsive-img" style="width: 100%; display: none;">-->
                            <!--<img src="../../assets/end-min.png" class="responsive-img" style="width: 60%">-->
                        <!--</div>-->

                        <!--<p style="font-size: 0.9em">-->
                            <!--Will help you monitor your entire portfolio by-->
                            <!--<br>-->
                            <!--<b>Updating</b> holdings from <b>exchanges</b> and providing portfolio <b>historics</b> and <b>overview</b>-->
                        <!--</p>-->

                    <!--</div>-->

                    <!--<div class="carousel-item" href="#four!" id="lastTutoPage">-->

                        <!--<div style="top: 25%; left: 25%;">-->
                            <!--<p style="font-size: 0.9em">And the best is... It's totally Free !</p>-->

                            <!--<img src="../../assets/happy_tuto-min.png" class="responsive-img" style="width: 100%; display: none;">-->

                            <!--<a onclick="showSignInDivs()" id="cryptopus" class="btn btn-floating btn-large pulse" style="background-color: #0d47a1; width: 90px; height: 90px; margin-top: 5vh; margin-bottom: 5vh">-->
                                <!--<img src="../../assets/cryptopus_white.png" class="responsive-img" style="width: 80%;margin-top:  10%;">-->
                            <!--</a>-->

                            <!--<h2>Let's try it out !</h2>-->
                        <!--</div>-->

                    <!--</div>-->
                <!--</div>-->

                <!--<div class="carousel-fixed-item center" style="z-index: 2; position:absolute!important; bottom: 50%; width: 100%">-->

                    <!--<div class="left">-->
                        <!--<a onclick="$('.carousel').carousel('prev');" class="btn-floating waves-effect darken-text-2" style="background-color: #0d47a1" id="prevTutoBtn"><i class="material-icons left">chevron_left</i></a>-->
                    <!--</div>-->


                    <!--<div class="right">-->
                        <!--<a onclick="$('.carousel').carousel('next');" class="btn-floating waves-effect darken-text-2" style="background-color: #0d47a1" id="nextTutoBtn"><i class="material-icons right">chevron_right</i></a>-->
                    <!--</div>-->

                <!--</div>-->

            <!--</div>-->

        </div>


        <!-- Modal Structure -->
        <div id="userAlreadyExistsModal" class="modal">
            <div class="modal-content left-align">
                <h4>User already exists</h4>
                <p>The email <span id="userEmail"></span> already exists in our database and is connected with <span class="knownProvider"></span>.</p>
                <p>Do you want to link your <span id="provider"></span> account with your <span class="knownProvider"></span> account ?</p>
            </div>
            <div class="modal-footer">
                <a href="#!" onClick="signInExistantUserWithGlobalProvider()" class="modal-action modal-close waves-effect waves-green btn-flat">Yes</a>
                <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">No</a>
            </div>
        </div>

        <!---->


        <div id="signInDivs" style="display: none">

            <!-- Modal part to display if user already exists with same email in DB -->

            <!-- Modal Trigger -->
            <!--<a class="waves-effect waves-light btn modal-trigger" href="#userAlreadyExistsModal">Modal</a>-->

            <img class="responsive-img explanation-icon" src="../../assets/explanations.png">

            <div style="margin: 20px">
                <span class="card-title" style="color: rgba(0, 0, 0, 0.71);"><h5>Cryptopus</h5></span>
            </div>

            <div class="separator">

            </div>

            <div style="margin: 20px">
                <span class="card-title" style="color: rgba(0, 0, 0, 0.71);">Sign In</span>
            </div>

            <div>
                <a class="waves-effect waves-light btn authenticate-button" id="googleAuthBtn" style="display: inline-flex; padding: 0">

                    <div style="width: 20%;">
                        <i class="mdi mdi-google"></i>
                    </div>

                    <div id="googleAuthBtnText">Google</div>
                </a>
            </div>

            <div>
                <a class="waves-effect waves-light btn authenticate-button" id="twitterAuthBtn" onclick="twitterAuthenticate()" style="display: inline-flex; padding: 0">

                    <div style="width: 20%;">
                        <i class="mdi mdi-twitter"></i>
                    </div>

                    <div id="twitterAuthBtnText">Twitter</div>
                </a>
            </div>

            <div>
                <a class="waves-effect waves-light btn authenticate-button" id="githubAuthBtn" onclick="githubAuthenticate()" style="display: inline-flex; padding: 0">

                    <div style="width: 20%;">
                        <i class="mdi mdi-github-box"></i>
                    </div>

                    <div id="githubeAuthBtnText">GitHub</div>
                </a>
            </div>

            <div>
                <a class="waves-effect waves-light btn authenticate-button" id="facebookAuthBtn" onclick="facebookAuthenticate()" style="display: inline-flex; padding: 0">

                    <div style="width: 20%;">
                        <i class="mdi mdi-facebook"></i>
                    </div>

                    <div id="facebookAuthBtnText">Facebook</div>
                </a>
            </div>

        </div>

    </div>
</div>