<div class="row" id="currenciesDetailsChartDiv">
    <div class="col s12 l12" style="margin-left: auto; margin-right: auto; float: none;">
        <div class="card-panel hoverable">
            <span class="card-title">Currencies Repartition</span>
            <div class="chart-container" style="position: relative; height:100%; width:100%; margin: 0 auto; text-align: center">
                <canvas id="homeCurrenciesChart"></canvas>
            </div>
        </div>
    </div>
</div>