<div class="row" id="detailsDiv">
    <div class="col s12 l12" style="margin-left: auto; margin-right: auto; float: none;">
        <div class="card-panel hoverable">
            <span class="card-title">Details</span>
            <ul class="collapsible" data-collapsible="accordion" id="detailsList">
            </ul>
        </div>
    </div>
</div>

<!-- Modal Structure -->
<div id="ordersModal" class="modal">
    <div class="progress" id="ordersModalLoader" style="display: none; margin-top: 0">
        <div class="indeterminate"></div>
    </div>
    <div class="modal-content left-align">
        <h5 class="center-align">
            Orders history
        </h5>

        <!--<div class="input-field col s12">-->
            <!--<select>-->
                <!--<option value="" disabled selected>Choose your option</option>-->
                <!--<option value="1">Option 1</option>-->
                <!--<option value="2">Option 2</option>-->
                <!--<option value="3">Option 3</option>-->
            <!--</select>-->
            <!--<label>Materialize Select</label>-->
        <!--</div>-->


        <div class="center-align" id="currencyMarketOrders">

        </div>

        <!--chart js-->
        <div id="ordersChartContainer">
            <!--<canvas id="ordersChart"></canvas>-->
        </div>

        <!--Trading view try-->
        <!--<div id="tv_chart_container">-->

        <!--</div>-->
    </div>
    <div class="modal-footer">
        <a onClick="ordersHistoryChart.resetZoom()" href="#!" class="modal-action waves-effect waves-green btn-flat">Reset Zoom</a>
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Back</a>
    </div>
</div>
