<div class="row" id="holdingsDiv">
    <div class="col s12 l12" style="margin-left: auto; margin-right: auto; float: none;">

        <div class="progress" id="calculateLoader">
            <div class="indeterminate"></div>
        </div>
        <div class="card-panel hoverable">

            <div class="center-align" style="padding-bottom: 15px">
                <a class="waves-effect waves-light btn-floating blue darken-4" id="calculateBtn" onclick="calculateHoldings()">
                    <i class="material-icons">refresh</i>
                </a>
            </div>


            <ul class="collection">
                <li class="collection-item">
                    <div>
                        Total
                        <div class="secondary-content">
                            <span id="holdings" style="color: rgba(0,0,0,0.87)">0 €</span>
                        </div>
                    </div>
                </li>

                <li class="collection-item">
                    <div style="display: flex;">
                        <div style="width: 40%;" class="valign-wrapper">
                            Last 24 Hours
                        </div>

                        <div style="width: 60%;" class="center-align">
                            <div style="display: flex;">
                                <div style="width: 50%;" class="valign-wrapper">
                                    <span id="arrowsDelta"></span>
                                    <span id="holdingsDelta">0 €</span>
                                </div>
                                <div style="width: 50%;" class="valign-wrapper">
                                    <span id="arrowsDeltaPercentage"></span>
                                    <span id="holdingsDeltaPercentage">0 %</span>
                                </div>

                            </div>
                        </div>
                    </div>

                </li>
                
            </ul>

        </div>
    </div>
</div>