<!-- Personnal CSS -->
<link rel="stylesheet" href="../css/perso.css">

<div id="historicCharts">
    <div class="row" id="historicTotalChartDiv" style="margin-top: 10px">
        <div class="col s12 l5" style="margin-left: auto; margin-right: auto; float: none;">

            <div class="progress" id="totalHistoricGraphLoader">
                <div class="indeterminate"></div>
            </div>

            <div id="totalHistoricChartsDiv" class="card">
                <div class="card-tabs">
                    <ul class="tabs tabs-fixed-width" id="totalChartListTabs">
                        <li class="tab">
                            <a href="#totalChartListDivs" class="active">Holdings</a>
                        </li>
                    </ul>
                </div>
                <div class="card-content grey lighten-4" id="totalChartListDivs" style="text-align: center; vertical-align: middle">
                </div>
            </div>

        </div>
    </div>

    <div class="row" id="historicChartDiv" style="margin-top: 10px">
        <div class="col s12 l5" style="margin-left: auto; margin-right: auto; float: none;">

            <div class="progress" id="exchangesHistoricGraphLoader">
                <div class="indeterminate"></div>
            </div>

            <div id="exchangesHistoricChartsDiv" class="card" >
                <div class="card-tabs">
                    <ul class="tabs tabs-fixed-width" id="exchangesChartListTabs">
                    </ul>
                </div>
                <div class="card-content grey lighten-4" id="exchangesChartListDivs" style="text-align: center; vertical-align: middle">
                </div>
            </div>

        </div>
    </div>
</div>
