<!--&lt;!&ndash; Compiled and minified JavaScript &ndash;&gt;-->
<!--<script src="../materialize/js/materialize.min.js"></script>-->

<!--&lt;!&ndash; Compiled and minified CSS &ndash;&gt;-->
<!--<link rel="stylesheet" href="../materialize/css/materialize.min.css">-->


<!--<ul id="slide-out" class="side-nav">-->
    <!--<li><div class="user-view">-->
        <!--<div class="background">-->
            <!--<img src="../../assets/slide_nav_img.jpg">-->
        <!--</div>-->
        <!--<a href="#"><img class="circle" id="userImage"></a>-->
        <!--<a href="#"><span class="white-text name" id="userName"></span></a>-->
        <!--<a href="#"><span class="white-text email" id="userMail"></span></a>-->
    <!--</div></li>-->
    <!--<li onclick="goToHome()"><a href="#!"><i class="material-icons">home</i>Home</a></li>-->
    <!--<li onclick="goToExchanges()"><a href="#!"><i class="material-icons">equalizer</i>Exchanges</a></li>-->
    <!--<li onclick="goToHistoric()"><a href="#!"><i class="material-icons">trending_up</i>Historic</a></li>-->
    <!--<li onclick="notYetImplemented()"><a href="#!"><i class="material-icons">account_balance_wallet</i>Wallets</a></li>-->

    <!--<li><div class="divider"></div></li>-->
    <!--<li onclick="googleSignOut()"><a href="#!"><i class="material-icons">person</i>Sign Out</a></li>-->
<!--</ul>-->

<!--<a href="#" data-activates="slide-out" class="button-collapse" style="display: none;"><i class="material-icons">menu</i></a>-->