<!-- Modal Structure -->
<div id="donateModal" class="modal">
    <div class="modal-content left-align">
        <h4>Donation</h4>
        <p>To support us, please feel free to donate the amount of any currency listed here you want</p>

        <div class="collection">
            <div class="collection-item">

                <div style="display: flex" class="valign-wrapper">
                    <div style="width: 20%;">
                        <img src="https://www.cryptocompare.com/media/19633/btc.png" style="width: 50%;"/>
                    </div>


                    <div style="width: 60%;" class="truncate">
                        BTC/BCH : 172CVLX5cyQeo8GwPB21Ru5XfpmYw4tUg2
                    </div>


                    <a onclick="copyWalletAddress('btc')" style="width: 20%;" class="right-align">
                        <i class="material-icons" style="color: black; cursor: pointer">content_copy</i>
                    </a>
                </div>

            </div>

            <div class="collection-item truncate">

                <div style="display: flex" class="valign-wrapper">
                    <div style="width: 20%;">
                        <img src="https://www.cryptocompare.com/media/19782/litecoin-logo.png" style="width: 50%;"/>
                    </div>


                    <div style="width: 60%;" class="truncate">
                        LTC : LMVRzyDzzwguB86BhBWzosmcqSmWRiSoDY
                    </div>


                    <a onclick="copyWalletAddress('ltc')" style="width: 20%;" class="right-align">
                        <i class="material-icons" style="color: black; cursor: pointer">content_copy</i>
                    </a>
                </div>

            </div>

            <div class="collection-item truncate">

                <div style="display: flex" class="valign-wrapper">
                    <div style="width: 20%;">
                        <img src="https://www.cryptocompare.com/media/20646/eth_logo.png" style="width: 50%;"/>
                    </div>


                    <div style="width: 60%;" class="truncate">
                        ETH : 0x71e309573df7ce555c667ab714497cfdcfd5735c
                    </div>


                    <a style="width: 20%;" class="right-align" onclick="copyWalletAddress('eth')">
                        <i class="material-icons" style="color: black; cursor: pointer">content_copy</i>
                    </a>
                </div>

            </div>
        </div>


    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-blue btn-flat">Done</a>
        <a class="modal-action modal-close waves-effect waves-blue btn-flat">Maybe later</a>
    </div>
</div>