<div class="navbar-fixed">
    <nav class="blue darken-4">
        <div class="nav-wrapper">
            <a class="brand-logo" id="brand-logo" style="margin-left: 2%" onclick="showSideNavMenu()"><i class="material-icons" id="menu-icon">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li onclick="goToHome()"><a href="home" data-navigo><i class="material-icons">home</i></a></li>
            </ul>
        </div>
    </nav>
</div>
