<div style="text-align: center;" id="nex-features">

    <div class="chip" style="margin-top: 15px" id="numberOfVotes"></div>

    <div class="row">
        <div class="card-panel left-align next-features-cards hoverable" align="center" style="display: inline-block;">
            <div style="display: flex">
                <div>
                    <h5>
                        Next features
                    </h5>
                </div>
                <!--<div style="width: 3%; padding-top: 5px">-->
                    <!--<a class="btn-floating waves-effect waves-light" href="features" onclick="nextFeaturesCardUndo()" data-navigo style="background-color: #1e88e5"><i class="material-icons">undo</i></a>-->
                <!--</div>-->
            </div>
            <ul class="features-list collection">

                <li class="collection-item">
                    <div>
                        <div class="chip" style="margin-top: 5px">
                            Chart with all currencies
                        </div>

                        <div class="secondary-content">
                            <div class="chip" style="margin-top: 5px" id="allCurrenciesChartChip">
                            </div>

                            <a href="features" data-navigo onclick="firstFeat()" class="secondary-content" style="padding-top: 8px">
                                <i class="material-icons thumb-next-features" id="allCurrenciesChartThumb">thumb_up</i>
                            </a>
                        </div>

                    </div>
                </li>

                <li class="collection-item">
                    <div>
                        <div class="chip" style="margin-top: 5px">
                            Change between EUR/USD/BTC
                        </div>

                        <div class="secondary-content">
                            <div class="chip" style="margin-top: 5px" id="changeCurrencyChip">
                            </div>

                            <a href="features" data-navigo onclick="secondFeat()" class="secondary-content" style="padding-top: 8px">
                                <i class="material-icons thumb-next-features" id="changeCurrencyThumb">thumb_up</i>
                            </a>
                        </div>

                    </div>
                </li>

                <li class="collection-item">
                    <div>
                        <div class="chip" style="margin-top: 5px">
                            Night mode
                        </div>

                        <div class="secondary-content">
                            <div class="chip" style="margin-top: 5px" id="nightModeChip">
                            </div>

                            <a href="features" data-navigo onclick="thirdFeat()" class="secondary-content" style="padding-top: 8px">
                                <i class="material-icons thumb-next-features" id="nightModeThumb">thumb_up</i>
                            </a>
                        </div>

                    </div>
                </li>

            </ul>

            <!--<a class="btn-floating waves-effect waves-light" style="background-color: #1e88e5"><i class="material-icons">undo</i></a>-->

        </div>
    </div>


    <div class="row">
        <div class="card-panel left-align next-features-cards hoverable" align="center" style="display: inline-block;">
            <div style="display: flex">
                <div class="header-features-cards">
                    <h5>
                        Next API Supports
                    </h5>
                </div>
                <!--<div style="width: 3%; padding-top: 5px">-->
                <!--<a href="features" data-navigo class="btn-floating waves-effect waves-light" onclick="apiSupportsUndo()" style="background-color: #1e88e5"><i class="material-icons">undo</i></a>-->
                <!--</div>-->
            </div>

            <ul class="features-list collection">
                <li class="collection-item">

                    <div>
                        <div class="chip" style="margin-top: 5px">
                            KuCoin
                        </div>

                        <div class="secondary-content">
                            <div class="chip" style="margin-top: 5px" id="kucoinChip">
                            </div>

                            <a href="features" data-navigo onclick="fourthFeat()" class="secondary-content" style="padding-top: 8px">
                                <i class="material-icons thumb-next-features" id="kucoinThumb">thumb_up</i>
                            </a>
                        </div>
                    </div>

                </li>


                <li class="collection-item">

                    <div>
                        <div class="chip" style="margin-top: 5px">
                            Huobi
                        </div>

                        <div class="secondary-content">
                            <div class="chip" style="margin-top: 5px" id="huobiChip">
                            </div>

                            <a href="features" data-navigo onclick="fifthFeat()" class="secondary-content" style="padding-top: 8px">
                                <i class="material-icons thumb-next-features" id="huobiThumb">thumb_up</i>
                            </a>
                        </div>
                    </div>

                </li>
            </ul>
        </div>
    </div>

    <div class="fixed-action-btn">
        <a class="btn-floating btn-large waves-effect waves-light" href="mailto:features@cryptopus.fr?Subject=Cryptopus%20new%20feature%20request&body=Hello,%0AThe%20feature%20I%20would%20like%20you%20to%20implement%20is" style="background-color: #1e88e5"><i class="material-icons">add</i></a>
    </div>

</div>